.outerbox{

  width: 100%;
  background-color: #111111;
  padding-bottom: 200px;
  overflow: hidden;
}

.App {
  margin: auto;
  max-width: 1920px;
  color: white;
  background-image: url("../public/Data/gardient.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 230%;
  
  /* background: conic-gradient(#FFE13E 0%, #D84D22 26.58%, #683D8F 39.12%,#BF2E35 50.71%,#BE4684 74.17%,rgba(143, 95, 188, 0.23) 100%);
  opacity: 40%; */
}

.cursor {

  position: fixed;
  width: 20px;
  height: 25px;
  background-color: transparent;
  border-radius: 50%;
  left: 0;
  top: 0;
  z-index: 11;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: .15s;
}

.cursor img{

  max-width: 100%;
}

/* @media (max-width:450px){

  .nav{

    position: sticky;
    top:1px;
  }
} */
